<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body ng-app="SistemaPuntoDeVenta" ng-controller="seccionProductos">
	<nav th:replace="layout/layout :: nav"></nav>
	<div class="container">
		<h1 class="display-4 text-center">Productos</h1>
		<hr class="bg-danger" />
		<p>
			<button class="mb-2 btn btn-outline-success btn-sm float-left" data-toggle="modal" data-target="#modalNuevoProducto">
				Crear nuevo producto
			</button>
		</p>
		<div class="table-responsive">
		<table class="table table-bordered table-striped text-center">
			<thead class="thead-inverse ">
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">Nombre</th>
					<th class="text-center">Marca</th>
					<th class="text-center">Imagen</th>
					<th class="text-center">Codigo</th>
					<th class="text-center">Stocke</th>
					<th class="text-center">Precio</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="producto in prodcutos">
					<td>{{producto.id}}</td>
					<td>{{producto.nombre}}</td>
					<td></td>
					<td></td>
					<td></td>
					
					<td>{{producto.existencia}}</td>
					<td>
					{{producto.precio}}
					</td>

				</tr>
			</tbody>
		</table>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" id="modalNuevoProducto" role="">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Editar producto</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form class="modal-body">
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">Nombre</label>
						<div class="col-10">
							<input class="form-control" type="text" name="nombreNuevo"
								id="nombreNuevo" ng-model="productoEditar.nombre" required="true" />

						</div>
					</div>
					<div class="form-group row">
						<label for="example-search-input" class="col-2 col-form-label">Precio</label>
						<div class="col-10">
							<input class="form-control" type="text"
								name="apellidoPaternoNuevo" id="apellidoPaternoNuevo"
								ng-model="productoEditar.precio" required="true" />

						</div>
					</div>
					<div class="form-group row">
						<label for="example-email-input" class="col-2 col-form-label">Existencia</label>
						<div class="col-10">
							<input class="form-control" type="text"
								name="apellidoMaternoNuevo" id="apellidoMaternoNuevo"
								ng-model="productoEditar.existencia" required="true" />

						</div>
					</div>
					<div class="form-group row">
						<label for="example-url-input" class="col-2 col-form-label">Compañia</label>
						<div class="col-10">
							<input class="form-control" name="companiaNuevo" type="text"
								id="companiaNuevo" ng-model="clienteEditar.compania" />
						</div>
					</div>
					<div class="form-group row">
						<label for="example-tel-input" class="col-2 col-form-label">Correo</label>
						<div class="col-10">
							<input class="form-control" type="email" name="correoNuevo"
								id="correoNuevo" ng-model="clienteEditar.correo" required="true" />
						</div>
					</div>
					<hr />
					<button type="submit" id="guardarCambiosCliente"
						class="btn btn-success float-right"
						ng-click="actualizarDatosCliente()">Guardar Cambios</button>
					<button type="reset" class="btn btn-secondary float-left" data-dismiss="modal">Borrar
						Campos</button>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script type="text/javascript" th:src="@{/js/producto/productos.js}"></script>
</body>
</html>