<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		 
	</head>
<body ng-app="SistemaPuntoDeVenta" ng-controller="facturasController" ng-keydown="evitarRecargarPagina($event)" ng-keyup="teclasPrecionadas=[]">
	<link rel="stylesheet"	th:href="@{/css/nuevaFactura.css}" />
	<nav th:replace="layout/layout :: nav"></nav>
	
	<div class="container">
		<h1 class="py-1 display-5 text-center">Venta</h1>
		<hr class="bg-danger" />
		<!-- <form>
			<div class="form-group">
					<input style="text-align: right;" class="form-control left" 
					ng-model="facturaNueva.observacion" placeholder="Concepto"/>
			</div>
		</form> -->
		<button type="button" class="btn btn-lg btn-danger float-right" data-toggle="modal" data-target="#modalCancelarVenta">Cancelar Venta Actual</button>
		<form class="form-inline ">
				  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
				    <div class="input-group-addon">
				    	<h5><i class="fas fa-barcode"></i></h5>
				    </div>
				    <input type="text" 
				    	ng-model="codigoProducto" 
				    	class="form-control" id="inlineFormInputGroup" 
				    	placeholder="Codigo del producto"
				    	ng-keyup="verificaTeclaPrecionada($event)"/>
				  </div>
				  <button type="button" class="btn btn-lg btn-success float-right" ng-click="buscarProducto()">Buscar</button>
		</form>
		<div class="containerTable">
			<table class="table table-striped table-bordered my-3">
				<thead class="thead-inverse">
					<tr>
						<th class="text-center">Codigo</th>
						<th class="text-center">Nombre</th>
						<th class="text-center">Cantidad</th>
						<th class="text-center">Costo</th>
						<th class="text-center">Quitar</th>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat="item in facturaNueva.itemsFactura">
						<td class="text-center">{{item.producto.id}}</td>
						<td class="text-center">{{item.producto.nombre}}</td>
						<td class="text-center">{{item.cantidad}} </td>
						<td class="text-center">{{item.cantidad * item.producto.precioVenta | currency:"$"}}</td>
						<th class="text-center">
							<button type="button" class="btn btn-danger" ng-click="quitarProducto(item.producto.id); reestablacerExistencia(item)">Eliminar <span aria-hidden="true">&times;</span></button>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<div class="float-left">
				<!-- <button type="button" class="btn btn-success " ng-click="finalizarVenta()">Finalizar venta</button> -->
				<button type="button" class="btn btn-success " data-toggle="modal" ng-click="sePuedeVender()">Finalizar venta</button>
			</div>
			<h3 class="text-right text-danger">Total: {{total | currency:"$"}}</h3>
			<button type="button" 
				class="btn btn-primary btn-sm my-3 float-right" 
				data-toggle="modal" 
				data-target="#modalVentasDelDia" ng-click="listadoDeVentas()">
				<i class="fas fa-clipboard"></i> Ventas del d&iacute;a
			</button>
		</div>
		
	</div>
	
	<div class="modal fade" tabindex="-1" id="modalCancelarVenta" role="">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Cancelar venta actual</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form class="modal-body">
					<p>
						<h4>De verdad quieres eliminar todos los productos?</h4><br/>
					</p>
					<button type="reset" class="btn btn-success float-left" data-dismiss="modal">
					 Continuar con la venta
					</button>
					<button type="submit" id="guardarCambiosCliente" class="btn btn-danger float-right"
					ng-click="cancelarVenta()" data-dismiss="modal">
					 	Cancelar venta
					</button>
				</form>
			</div>
		</div>
	</div>
	
	<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modalFinalizarVenta" role="">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center">Total de venta: $ {{total}}</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="container">
					<form class="my-4 p-3">
						<div class="form-group row">
							<label for="cliente" class="col-2 col-form-label">Cliente</label>
							<div class="col-10">
								<select ng-model="clienteAsociado" class="form-control">
									<option value="0" selected="selected">Selecciona un cliente</option>
									<option ng-repeat="cliente in listaClientes" value="{{cliente.id}}">{{cliente.nombre+' '+cliente.apellidoPaterno+' '+cliente.apellidoMaterno}}</option>
								</select>
							</div>
				  		</div>
				  		<div class="form-group row">
				  			<label for="pagoCon" class="col-2 col-form-label">Pag&oacute; Con</label>
				  			<div class="col-10">
				  				<input id="pagoCon" class="form-control" placeholder="{{total}}" ng-model="facturaNueva.pagoCon"/>
				  			</div>
				  		</div>
				  		<div class="form-group row">
				  			<label  class="col-2 col-form-label">Su Cambio</label>
				  			<div class="col-10">
				  				<input  class="form-control"  ng-value="darCambio()" disabled="disabled"/>
				  			</div>
				  		</div>
				  		<hr/>
				  		<div class="form-group row p-2">
				  			<button type="button" class="btn btn-danger float-left" ng-click="cancelarVenta()">Cancelar venta</button>
				  			<button type="button" class="btn btn-succes float-right" ng-click="finalizarVenta()">Cobrar</button>
				  		</div>
					</form>
					</div>
				</div>
			</div>
		</div>
		
	<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modalVentasDelDia" role="">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center">VENTAS DEL D&Iacute;A {{fechaSolicitada}}</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12 ">
						<h1 class="text-center">Ventas del dia</h1>
						<form>
							<div class="form-group row">
							  <label for="example-date-input" class="col-2 col-form-label">Fecha</label>
							  <div class="col-10">
							    <input class="form-control" type="date" ng-model="fechaSolicitada" id="selectorFecha" ng-change="fechaSeleccionada()"/>
							  </div>
							</div>
						</form>
						<div class="table-responsive" id="ventasDelDia">		
							<table class="table table-striped table-bordered">
								<thead>
									<tr class="thead-inverse">
										<th class="text-center">Folio</th>
										<th class="text-center">Fecha</th>
										<th class="text-center">Total</th>
										<th class="text-center">Ver</th>
										<th class="text-center">Eliminar</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="factura in facturas">
										<td class="text-center">{{factura.id}}</td>
										<td class="text-center">{{factura.fechaRealizacion}}</td>
										<td class="text-center">{{factura.total}}</td>
										<td class="text-center">
											<button type="button" class="btn btn-primary btn-sm" ng-click="detalleFactura(factura.id)">Detalle</button>
										</td>					
										<td class="text-center">
											<button type="button" 
													class="btn btn-danger btn-sm" 
													ng-click="getFactura(factura.id)" 
													data-toggle="modal" 
													data-target="#modalEliminarFactura">
												Devoluci&oacute;n
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
													
					</div>
					<div class="col-md-6 col-sm-12">
						<h1 class="text-center">Venta </h1>
						<div id="contenedorDetalleFactura">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modalEliminarFactura">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Quieres hacer la devolucion de la factura: {{facturaAEliminar.id}}?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
				</div>
				<div class="modal-body">
					<button class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Conservar</button>
					<button class="btn btn-danger btn-lg btn-block" ng-click="eliminarFactura(facturaAEliminar)">Devolver</button>
				</div>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
	
	<script type="text/javascript" th:src="@{/js/factura/nuevaVenta.js}"></script>
</body>
</html>