<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
	
	</head>
<body ng-app="SistemaPuntoDeVenta" ng-controller="seccionFacturasCliente">
	<nav th:replace="layout/layout :: nav"></nav>
	
	<div class="container ">
		<h1 class="py-1 display-5 text-center">{{cliente.nombre+' '+cliente.apellidoPaterno+' '+cliente.apellidoMaterno}}</h1>
		<hr class="bg-danger" />
		
		<p>
			<a class="mb-2 btn btn-outline-success btn-sm float-left" th:href="@{/facturas/nueva?cliente={{cliente.id}}}">Nueva Factura</a>
		</p>
		<div class="alert alert-info my-5" ng-if="cliente.facturas.length==0">
			<p>
				No hay facturas para este cliente.
			</p>
		</div>
		<div class="table-responsive" ng-if="cliente.facturas.length>0">
			<table class="table table-striped table-bordered ">
				<thead class="thead-inverse">
					<tr>
						<th class="text-center">Folio</th>
						<th class="text-center">Descripcion</th>
						<th class="text-center">Fecha</th>
						<th class="text-center">Total</th>
						<th class="text-center">Ver</th>
						<th class="text-center">Eliminar</th>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat="factura in cliente.facturas" class="text-center">
						<td >
							{{factura.id}}
						</td>
						<td>{{factura.observacion}}</td>
						<td>{{factura.fechaRealizacion}}</td>
						<td>{{factura.total}}</td>
						<td>
							<!--<a class="btn btn-primary btn-sm" th:href="@{/facturas/detallesFactura?idFactura={{factura.id}}}">Detalle</a>-->
							<a class="btn btn-primary btn-sm" ng-click="detalleFacturaCliente(factura.id)">Detalle</a>
						</td>					
						<td>
							<button type="button" 
									class="btn btn-danger btn-sm" 
									ng-click="getFactura(factura.id)" 
									data-toggle="modal" 
									data-target="#modalEliminarFactura">
								Eliminar
							</button>
						</td>					
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="modal fade" id="modalEliminarFactura">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Quieres eliminar la factura: {{facturaAEliminar.id}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
				</div>
				<div class="modal-body">
					<button class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Conservar</button>
					<button class="btn btn-danger btn-lg btn-block" ng-click="eliminarFactura(facturaAEliminar)">Eliminar</button>
				</div>
			</div>
		</div>
	</div>	
	<footer th:replace="layout/layout :: footer">
	</footer>
	<script type="text/javascript" th:src="@{/js/cliente/facturasCliente.js}"></script>
</body>
</html>