<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body ng-app="SistemaPuntoDeVenta" ng-controller="seccionClientes">
	<nav th:replace="layout/layout :: nav"></nav>
	<div class="container ">
		<br/>
		<h1 class="display-5 text-center">Lista de clientes</h1>
		<hr class="bg-danger" />
		
		<p>
			<button class="mb-2 btn btn-outline-success btn-sm float-left" data-toggle="modal"
				data-target="#modalNuevoCliente">Crear nuevo cliente</button>
		</p>
		
		<table class="table table-striped table-responsive table-bordered ">
			<thead class="thead-inverse">
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellido Paterno</th>
					<th>Apellido Materno</th>
					<th>Compañia</th>
					<th>Correo</th>
					<th>Fecha de creación</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cliente in clientes">
					<td>{{cliente.id}}</td>
					<td>{{cliente.nombre}}</td>
					<td>{{cliente.apellidoPaterno}}</td>
					<td>{{cliente.apellidoMaterno}}</td>
					<td>{{cliente.compania}}</td>
					<td>{{cliente.correo}}</td>
					<td>{{cliente.fechaCreacion | date:"dd/MM/yyyy"}}</td>
					<td>
						<button class="btn btn-warning" data-toggle="modal" data-target="#modalEdicionCliente"
							ng-click="editarCliente(cliente.id)">Editar</button>
					</td>
					<td>
						<button class="btn btn-danger" data-toggle="modal" data-target="#modalELiminarCliente"
							ng-click="eliminarCliente(cliente.id)">Eliminar</button>
					</td>

				</tr>
			</tbody>
		</table>
		 <ul class="pagination" ng-if="mostrarBotonesPaginado">
			<li class="page-item" ng-repeat="botonPaginacion in botonesPaginado">
				<a class="page-link" ng-click="siguientePaginaClientes(botonPaginacion)" style="cursor:pointer;">{{$index+1}}</a>
			</li>
		  </ul>
	</div>



	<div class="modal fade" id="modalEdicionCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Editar los datos de:
						{{clienteEditar.nombre+' '+clienteEditar.apellidoPaterno+'
						'+clienteEditar.apellidoMaterno}}</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form class="modal-body">
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">Nombre</label>
						<div class="col-10">
							<input class="form-control" type="text" name="nombreNuevo"
								id="nombreNuevo" ng-model="clienteEditar.nombre" required="true" />

						</div>
					</div>
					<div class="form-group row">
						<label for="example-search-input" class="col-2 col-form-label">Apellido
							Paterno</label>
						<div class="col-10">
							<input class="form-control" type="text"
								name="apellidoPaternoNuevo" id="apellidoPaternoNuevo"
								ng-model="clienteEditar.apellidoPaterno" required="true" />

						</div>
					</div>
					<div class="form-group row">
						<label for="example-email-input" class="col-2 col-form-label">Apellido
							Materno</label>
						<div class="col-10">
							<input class="form-control" type="text"
								name="apellidoMaternoNuevo" id="apellidoMaternoNuevo"
								ng-model="clienteEditar.apellidoMaterno" required="true" />

						</div>
					</div>
					<div class="form-group row">
						<label for="example-url-input" class="col-2 col-form-label">Compañia</label>
						<div class="col-10">
							<input class="form-control" name="companiaNuevo" type="text"
								id="companiaNuevo" ng-model="clienteEditar.compania" />
						</div>
					</div>
					<div class="form-group row">
						<label for="example-tel-input" class="col-2 col-form-label">Correo</label>
						<div class="col-10">
							<input class="form-control" type="email" name="correoNuevo"
								id="correoNuevo" ng-model="clienteEditar.correo" required="true" />
						</div>
					</div>
					<hr />
					<button type="submit" id="guardarCambiosCliente"
						class="btn btn-success float-right"
						ng-click="actualizarDatosCliente()">Guardar Cambios</button>
					<button type="reset" class="btn btn-secondary float-left" data-dismiss="modal">Borrar
						Campos</button>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalNuevoCliente" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Agregar Cliente</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form class="modal-body">
					<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">Nombre</label>
						<div class="col-10">
							<input class="form-control" type="text" name="nombreNuevo"
								id="nombreNuevo" ng-model="clienteNuevo.nombre" required="true" />

						</div>
					</div>
					<div class="form-group row">
						<label for="example-search-input" class="col-2 col-form-label">Apellido
							Paterno</label>
						<div class="col-10">
							<input class="form-control" type="text"
								name="apellidoPaternoNuevo" id="apellidoPaternoNuevo"
								ng-model="clienteNuevo.apellidoPaterno" required="true" />

						</div>
					</div>
					<div class="form-group row">
						<label for="example-email-input" class="col-2 col-form-label">Apellido
							Materno</label>
						<div class="col-10">
							<input class="form-control" type="text"
								name="apellidoMaternoNuevo" id="apellidoMaternoNuevo"
								ng-model="clienteNuevo.apellidoMaterno" required="true" />

						</div>
					</div>
					<div class="form-group row">
						<label for="example-url-input" class="col-2 col-form-label">Compañia</label>
						<div class="col-10">
							<input class="form-control" name="companiaNuevo" type="text"
								id="companiaNuevo" ng-model="clienteNuevo.compania" />
						</div>
					</div>
					<div class="form-group row">
						<label for="example-tel-input" class="col-2 col-form-label">Correo</label>
						<div class="col-10">
							<input class="form-control" type="email" name="correoNuevo"
								id="correoNuevo" ng-model="clienteNuevo.correo" required="true" />
						</div>
					</div>
					<hr />
					<button type="submit" id="guardarCambiosCliente"
						class="btn btn-success float-right" ng-click="agregarCliente()">Agregar
						Cliente</button>
					<button type="reset" class="btn btn-secondary float-left">Borrar
						Campos</button>
				</form>
			</div>
		</div>
	</div>


	<div class="modal fade" id="modalELiminarCliente" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Realmente quieres eliminar a
						{{clienteEliminar.nombre+' '+clienteEliminar.apellidoPaterno+'
						'+clienteEliminar.apellidoMaterno}}</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Recuerda que estos datos no podran ser recuperados.</p>
					<hr />
					<button type="submit" ng-click="borrarClienteEnDB()"
						class="btn btn-danger float-right">Eliminar</button>
					<button type="reset" data-dismiss="modal"
						class="btn btn-success float-left">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script type="text/javascript" th:src="@{/js/clientes.js}"></script>
</body>
</html>