<!DOCTYPE html>
<html xmlns:th="http://www,thymeleafe.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<nav th:replace="layout/layout :: nav"></nav>
	<div class="jumbotron">
	  <h1 class="display-3">Hola. Se bienvenido!</h1>
	  <p class="lead">Este sistema te permite llevar el control de tu inventario.</p>
	  <hr class="my-4"/>
	  <p>De igual manera te permite llevar el control de tus ventas y ver cual de tus empleados 
	  realizo la venta y a que cliente se la hicieron.</p>
	</div>
	<footer th:replace="layout/layout :: footer">
	</footer>
</body>
</html>